@use "./../mixin/" as *;

.button-menu {
  font-size: 1.5rem;
  position: fixed;
  z-index: 100;
  top: 2rem;
  border: 0.1rem solid var(--white-1);
  text-transform: uppercase;
  padding: 0.8rem 1.2rem 1rem;
  right: calc(var(--col) * 1);
  color: var(--white-1);
  mix-blend-mode: difference;
}

@include mq(sp) {
  .button-menu {
    font-size: 1.3rem;
    position: fixed;
    z-index: 100;
    top: 2rem;
    border: 0.1rem solid var(--white-1);
    text-transform: uppercase;
    padding: 0.4rem 1rem 0.5rem;
    right: calc(var(--col) * 1);
    color: var(--white-1);
    mix-blend-mode: difference;
  }
}
