@use "./../mixin/" as *;

.preloader {
  position: fixed;
  z-index: 1000000;
  inset: 0;
  background-color: var(--white-1);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.preloader__inner {
  display: grid;
  place-items: center;
}

.preloader__loading {
  --width: 3rem;
  --height: 3rem;

  display: grid;
  position: relative;
}

.preloader__loading-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid var(--black-1);
}

.preloader__loading-bar:nth-child(1) {
  width: calc(var(--width) * 0.9);
  height: calc(var(--height) * 0.9);
  animation: loading-bar 2s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
}
.preloader__loading-bar:nth-child(2) {
  width: calc(var(--width) * 1.2);
  height: calc(var(--height) * 1.2);
  animation: loading-bar 5s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
}
.preloader__loading-bar:nth-child(3) {
  width: calc(var(--width) * 1.5);
  height: calc(var(--height) * 1.5);
  animation: loading-bar 10s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
}
